# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build
output
tmp

TODO
include_OLD
source_OLD
source_OLDER
design.svg
mystery.jpg
PRANK.txt
run-cia
run-no-3dslink
run2
run
servefiles.py

*.3dsx
*.elf
*.3ds
*.cia
